#svi-connector-status, #svi-logging-status {float: right; position: relative;  line-height: 18px; margin-left: 4em;}
#svi-connector-status .status-label, #svi-connector-status .version-number, #svi-logging-status .status-label {display: inline-block; margin-right: 10px; margin-top: 0; padding-top: 0; color: #777777; top: 55%; transform: translateY(-45%); -webkit-transform: translateY(-45%);}
.version-number {opacity: 0.7; font-weight: normal;}
#svi-connector-status i, #svi-logging-status i {font-size: 36px;}
#svi-connector-status i.status-off,
#svi-logging-status i.status-off,
#svi-connector-status .connection-type.status-off,
#svi-logging-status .connection-type.status-off {color: #bb0000;}
#svi-connector-status i.status-on,
#svi-logging-status i.status-on,
#svi-logging-status .connection-type.status-on {color: #00aa00;}
#svi-connector-status i.status-dev {color: #ff8800;}
#svi-connector-status .connection-type {text-align: right; color: #ff8800;}
#svi-logging-status .connection-type {text-align: right; margin-right: 1em;}

.svi ul {margin-left: 2em;}
.svi ul li {list-style: circle outside none;}

.svi-log-table td {vertical-align: top; font-size: 0.9em; padding: 4px 6px;}
.svi-log-details label, .svi-log-details pre {display: inline-block; vertical-align: top; margin: 0 1em 0 0; padding: 6px 0;}
.svi-log-details label {width: 8em;}
.svi-log-details > div {border-bottom: 1px #bbbbbb solid;}

.svi-search-row {margin-bottom: 9px;}

.align-center {text-align: center;}
.image-preview-block .spinner {float: none;}

/* button that looks like a normal link */
button.link {overflow: visible; width: auto; font-size: 1em; text-align: left; color: blue; background: none; margin: 0; padding: 0; border: none; cursor: pointer; -moz-user-select: text;  text-decoration: none;}
button.link:hover, button.link:focus {opacity: 0.7; text-decoration: underline;}
button.link.red {color: #cc0000;}
